In [1]:
import requests
import json
import pandas as pd

Define an API
Get the request API from this url
Show us the status code of response
Extract data from the this API using json
Create a dataframe containing your final data from your obtained json data.

In [13]:
response = requests.get('http://api.open-notify.org/astros.json')

In [14]:
print("Status:",response.status_code)
print("Headers:",response.headers)

Status: 200
Headers: {'Server': 'nginx/1.10.3', 'Date': 'Fri, 25 Nov 2022 11:23:32 GMT', 'Content-Type': 'application/json', 'Content-Length': '477', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

In [16]:
json_response = response.json()
json_response

{'message': 'success',
 'people': [{'name': 'Cai Xuzhe', 'craft': 'Tiangong'},
  {'name': 'Chen Dong', 'craft': 'Tiangong'},
  {'name': 'Liu Yang', 'craft': 'Tiangong'},
  {'name': 'Sergey Prokopyev', 'craft': 'ISS'},
  {'name': 'Dmitry Petelin', 'craft': 'ISS'},
  {'name': 'Frank Rubio', 'craft': 'ISS'},
  {'name': 'Nicole Mann', 'craft': 'ISS'},
  {'name': 'Josh Cassada', 'craft': 'ISS'},
  {'name': 'Koichi Wakata', 'craft': 'ISS'},
  {'name': 'Anna Kikina', 'craft': 'ISS'}],
 'number': 10}

In [17]:
data = json_response['people']
print(data)

[{'name': 'Cai Xuzhe', 'craft': 'Tiangong'}, {'name': 'Chen Dong', 'craft': 'Tiangong'}, {'name': 'Liu Yang', 'craft': 'Tiangong'}, {'name': 'Sergey Prokopyev', 'craft': 'ISS'}, {'name': 'Dmitry Petelin', 'craft': 'ISS'}, {'name': 'Frank Rubio', 'craft': 'ISS'}, {'name': 'Nicole Mann', 'craft': 'ISS'}, {'name': 'Josh Cassada', 'craft': 'ISS'}, {'name': 'Koichi Wakata', 'craft': 'ISS'}, {'name': 'Anna Kikina', 'craft': 'ISS'}]

In [18]:
df = pd.DataFrame(data)
df

               name     craft
0         Cai Xuzhe  Tiangong
1         Chen Dong  Tiangong
2          Liu Yang  Tiangong
3  Sergey Prokopyev       ISS
4    Dmitry Petelin       ISS
5       Frank Rubio       ISS
6       Nicole Mann       ISS
7      Josh Cassada       ISS
8     Koichi Wakata       ISS
9       Anna Kikina       ISS